# Qt Creator
*.user
*.orig

# CLion
.idea/
cmake-build-*/

# Generic build directory
build*/

# In-source build artifacts
CMakeFiles/
CMakeDirectoryInformation.cmake
progress.marks

# Dataset
data/

# qmake
.obj/
Makefile

# vscode
.vscode/

# models trt and .onnx
*.trt